WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
GRAPH_API_VERSION=v21.0
ADMIN_API_KEY=
FEE_VIDEO_PKR=3000
FEE_PRESCRIPTION_PKR=1000
ANTHROPIC_API_KEY=
DATABASE_URL=
REDIS_URL=
DOCTOR_ALERT_NUMBER=923117104056
PATIENT_WA_NUMBER=923458254232
MCB_QR_IMAGE_URL=
MCB_ACCOUNT_NAME=WASIF RIZWAN MALIK
MCB_ACCOUNT_SUFFIX=9297

